# Titulo

- item1
- item2

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('https://practicum-content.s3.us-west-1.amazonaws.com/datasets/visits_eng.csv', sep='\t')
data.head()

         date_time        id  time_spent        name
0  20180407T025358  76144fb2        98.0  Cornflower
1  20180405T033913  76144fb2        15.0  Cornflower
2  20180404T032824  76144fb2       220.0  Cornflower
3  20180407T170441  76144fb2        19.0  Cornflower
4  20180404T232049  76144fb2        14.0  Cornflower

In [7]:
pd.DataFrame({
    'id': [1,2,3,4],
    'nombre': ['jose','ricardo','lorenzo','gaston'],
    'cosas':[1,'a',[12,32],{'a':2}]
}).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      4 non-null      int64
 1   nombre  4 non-null      object
 2   cosas   4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317104 entries, 0 to 317103
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date_time   317104 non-null  object
 1   id          317104 non-null  object
 2   time_spent  317104 non-null  float64
 3   name        317104 non-null  object
dtypes: float64(1), object(3)
memory usage: 9.7+ MB

In [9]:
data['date_time']

0         20180407T025358
1         20180405T033913
2         20180404T032824
3         20180407T170441
4         20180404T232049
               ...
317099    20180408T153133
317100    20180403T121353
317101    20180408T162636
317102    20180406T092425
317103    20180406T054238
Name: date_time, Length: 317104, dtype: object

In [15]:
data['date_time'] = pd.to_datetime(data['date_time'], format='%Y%m%dT%H%M%S')

In [19]:
data['name'].str.upper()

0         CORNFLOWER
1         CORNFLOWER
2         CORNFLOWER
3         CORNFLOWER
4         CORNFLOWER
             ...
317099        GEYHER
317100        GEYHER
317101        GEYHER
317102        GEYHER
317103        GEYHER
Name: name, Length: 317104, dtype: object

In [22]:
data['year'] = data['date_time'].dt.year
data

                 date_time        id  time_spent        name  year
0      2018-04-07 02:53:58  76144fb2        98.0  Cornflower  2018
1      2018-04-05 03:39:13  76144fb2        15.0  Cornflower  2018
2      2018-04-04 03:28:24  76144fb2       220.0  Cornflower  2018
3      2018-04-07 17:04:41  76144fb2        19.0  Cornflower  2018
4      2018-04-04 23:20:49  76144fb2        14.0  Cornflower  2018
...                    ...       ...         ...         ...   ...
317099 2018-04-08 15:31:33  9cdb5039        11.0      Geyher  2018
317100 2018-04-03 12:13:53  9cdb5039       181.0      Geyher  2018
317101 2018-04-08 16:26:36  9cdb5039       252.0      Geyher  2018
317102 2018-04-06 09:24:25  9cdb5039        29.0      Geyher  2018
317103 2018-04-06 05:42:38  9cdb5039        20.0      Geyher  2018

[317104 rows x 5 columns]

In [24]:
data['date_time'].describe()

C:\Users\manyv\AppData\Local\Temp\ipykernel_24272\2238337016.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  data['date_time'].describe()

count                  317104
unique                 236674
top       2018-04-07 22:06:48
freq                        7
first     2018-04-02 10:00:08
last      2018-04-09 10:00:09
Name: date_time, dtype: object

In [25]:
data['date_time'].min()

Timestamp('2018-04-02 10:00:08')

In [26]:
data['date_time'].max()

Timestamp('2018-04-09 10:00:09')

In [30]:
data['date_time']

0        2018-04-07 02:53:58
1        2018-04-05 03:39:13
2        2018-04-04 03:28:24
3        2018-04-07 17:04:41
4        2018-04-04 23:20:49
                 ...
317099   2018-04-08 15:31:33
317100   2018-04-03 12:13:53
317101   2018-04-08 16:26:36
317102   2018-04-06 09:24:25
317103   2018-04-06 05:42:38
Name: date_time, Length: 317104, dtype: datetime64[ns]

In [32]:
data['date_time']

0        2018-04-07 02:53:58
1        2018-04-05 03:39:13
2        2018-04-04 03:28:24
3        2018-04-07 17:04:41
4        2018-04-04 23:20:49
                 ...
317099   2018-04-08 15:31:33
317100   2018-04-03 12:13:53
317101   2018-04-08 16:26:36
317102   2018-04-06 09:24:25
317103   2018-04-06 05:42:38
Name: date_time, Length: 317104, dtype: datetime64[ns]

In [39]:
data['date_time'] - pd.Timedelta(days=15)

0        2018-03-23 02:53:58
1        2018-03-21 03:39:13
2        2018-03-20 03:28:24
3        2018-03-23 17:04:41
4        2018-03-20 23:20:49
                 ...
317099   2018-03-24 15:31:33
317100   2018-03-19 12:13:53
317101   2018-03-24 16:26:36
317102   2018-03-22 09:24:25
317103   2018-03-22 05:42:38
Name: date_time, Length: 317104, dtype: datetime64[ns]

In [40]:
from datetime import datetime, timedelta

# Crear un objeto datetime
fecha_actual = datetime(2023, 7, 27)

# Restar un año
fecha_anterior = fecha_actual - timedelta(days=365)

print("Fecha actual:", fecha_actual)
print("Fecha anterior:", fecha_anterior)

Fecha actual: 2023-07-27 00:00:00
Fecha anterior: 2022-07-27 00:00:00